<a href="https://colab.research.google.com/github/tsamarahanifa/LatihanProject/blob/master/18_11_2101_Praktikum9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NAMA : TSAMARA HANIFA ARFAN 
#NIM : 18.11.2101
#KELAS : INFORMAATIKA 05

# PRAKTKUM BDL Python : (Tipe Data, Operator, Fungsi, Class & Object)

KOMPETENSI 1 TIPE DATA

LATIHAN 1.1

1. Berapakah nilai bilangan tipe data integer pada nilai desimal 3.14? tuliskan fungsi dalam melakukan konversinya!

In [ ]:
#Deklarasi 3.14 adalah tipe data float
float = 3.14

#Function untuk konversi ke integer
int(float)

3

In [ ]:
#Deklarasi tipe data float
i= 3.14
print(i, 'tipe data:',
     type(i).__name__)

#Function pertama untuk konversi float -> integer
i = int(i)

#Output untuk menampilkan hasil konversi
print('Hasil konversi:', i, 'dengan tipe data:', type(i).__name__)

3.14 tipe data: float
Hasil konversi: 3 dengan tipe data: int

In [ ]:
#fungsi kedua untuk konversi float -> integer
def konversi(nilai):
    nilai= int(nilai)
    print (nilai)

konversi(3.14)

3

2. tipe data tuple sama seperti list namun tidak dapat diubah, namun bagaimanakah cara untuk tetap ingin mengubah variable tipe data tuple dibawah?
daftar_tuple = {1,2,3,4}
Menjadi
daftar_tuple = {4,3,2,1}

In [ ]:
#Saftar tuple
daftar_tuple={1,2,3,4}

#mengubah variabel tipe data tuple menjadi 
daftar_tuple_new =tuple(sorted(daftar_tuple,reverse=True))
print("daftar_tuple=",daftar_tuple_new)

daftar_tuple= (4, 3, 2, 1)

 3. Terdapat variable dengan bentuk tipe data dict berikut :
anggota = { nama: “Angga”, umur: 25 }
Tuliskan langkah dalam mengubah umur menjadi 25 tahun (terdapat kata “tahun”) !

In [ ]:
#Deklarasi variable anggota
anggota = {"nama" : "Angga", "Umur" : 25}

#Mengubah value pada element Umur menjadi tipe data string, lalu menambahkan kata " tahun"
anggota["Umur"] = str(anggota["Umur"]) + (" tahun")

#Print out hasil akhir dari anggota
print(anggota)

{'nama': 'Angga', 'Umur': '25 tahun'}

KESIMPULAN

  Tipe data yang ada dalam bahasa Phytonj bisa dikonversikan dengan memanggil fungsi dari tipe data tersebut. 
  Tuple merupakan salah satu jenis tipe data kolektof yang berfungsi untuk menyimpalan beberapa data yang lebih dari satu nilai dalam satu variable sekaligus. tuple memiliki sifat terurut yaitu datanya bisa diakses menggunakan indeks tidak dapat diubah artinya data tersebut tidak akan bisa dirubah setelah didefinisikan pertama kali.
  Dictionary yaitu suatu tipe data yang tidak berurutan, isinya dapat berupa collection dalam bentuk pasangan key-value.

KOMPETENSI 2

1. Buat sebuah variabel dengan nama barang; tambahkan nilai 10 pada variabel barang; buat variabel kedua dengan nama barang2; tambahkan variabel barang2 dengan variabel barang; tampilkan hasilnya

In [ ]:
#Mendeklarasikan sebuah variabel 
#variabel barang bernilai 10
Barang = 10 

#variabel barang 2 bernama berisi variabel barang yang bernilai 10
Barang2 = Barang 

#menjumlahkan  variabel barang dan barang2
hasil = Barang + Barang2 
print(hasil)

20

2. Tampilkan rumus dalam pencarian luas lingkaran dengan nilai phi 3,14 pada jari-jari lingkarang sepanjang 7 cm !

In [ ]:
#Mendeklarasikan variabel
#Variabel volume = 25000 Liter
phi = 3.14

#Variabel dabit = 20 l/mnt
r = 7

#Kapasitas kolam diisi 75%
luas = phi * r **2
print("Luas lingkaran : "+ str(luas))

Luas lingkaran : 153.86

KESIMPULAN 

  Variabel pada Phyton dapat melakukan operasi perhitungan jika variabel tersebut memiliki nilai, dan menampilkan error apabila variabel tidak memiliki nilai. 
  variabel yang terdapat pada phyton juga bisa membaca otomatis tipe data pada sebuah nilai variabel yang diberikan tanpa mendifinisikan terlebih dahulu jenis tipe data.

KOMPETENSI 3

3.A FUNGSI

1. Apa yang dimaksud fungsi dalam phyton? sebutkan contoh dalam pendeklarasian suatu fungsi!

Fungsi pada python yaitu sekumpulan perintah atau baris kode yang dikelompokkan menjadi satu kesatuan yang kemudian bisa dipanggil atau digunakan berkali-kali.

contohnya:

In [ ]:
#Melakukan deklarasi nama 
def Nm(nama): 
    """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan sebagai parameter""" 
    print("Hi, " + nama + ". How are you?") 

# pemanggilan fungsi 
Nm('Tsamara')

Hi, Tsamara. How are you?

2. Terdapat 2 jenis fungsi dalam bahasa Python, sebutkan dan jelaskan !

1. Fungsi yang telah dibuat/disediakan atau biasa kita sebut sebagai built in function. contoh: print() adalah function bawaan Python yang sering digunakan.
2. Fungsi yang dibuat oleh pengembang (user defined function). Fungsi yang ditentukan pengguna adalah fungsi yang dibuat dengan kata kunci def.
contoh:
def hi_tsamara():
  print("Hai tsamara");
 hi_tsamara()

KESIMPULAN

memahami fungsi dari bahasa phyton. fungsi sendiri merupakan bagian dari program yang dapat digunakan ulang. mengetahui serta memahami macam penggunaan fungsi, serta mempraktikkannya.

3.B IMPLEMENTASI FUNGSI

Latihan 3.2 Diberikan kasus masalah, silahkan buat sebuah program (bentuk program bebas) dalam menghitung estimasi biaya penjualan barang dengan spesifikasi sebagai berikut :

1. Input parameter biaya harus lebih dari 0
2. Output berupa nilai biaya penjualan ditambahkan dengan total pajak yang harus dibayarkan.
3. Total pajak yang harus dibayarkan adalah 10% dari total barang

In [ ]:
#Membuat program Estimasi penjualan barang
def jual(biaya): #mendeklarasilan penjualan
  if biaya > 0:
    pajak = biaya * 0.1
    total = biaya + pajak
    print("Biaya = ", biaya) 
    print("Pajak 10% = ", pajak)
    print("Total Biaya = ", total)
  elif biaya < 0:
    print("Biaya yang Harus diatas adalah 0")

#Biaya diatas 0
jual(30000)

print("\n")

#Biaya dibawah 0
jual(-3000)

Biaya =  30000
Pajak 10% =  3000.0
Total Biaya =  33000.0


Biaya yang Harus diatas adalah 0

KESIMPULAN 

Dapat mengimplementasikan sebuah kasys menggunakan fungsi pada phyton

3.C CLASS DAN OBJECT

diberikan kasus masalah, silahkan buat sebuah program dalam menghitung estimasi biaya penjualan barang dengan mengimplementasikan bentuk Class dan Object dengan spesifikasi sebagai berikut :

1. Input parameter pada class adalah nama barang dan harga
2. Output berupa nilai biaya penjualan ditambahkan dengan total pajak 10% dari harga barang yang harus dibayarkan.
3. Apabila total biaya penjualan suatu barang (tidak termasuk pajak) diatas 100.000 maka akan diberikan potongan (diluar pajak) sebesar 5% dari total biaya suatu barang.
4. Pada class yang dibuat, wajib mendifinisikan bentuk dari construktor beserta method dalam melakukan kalkulasi

In [ ]:
#Membuat program menghitung estimasi biaya penjualan barang dengan
#mengimplementasikan bentuk class dan object
class jual: #nama class yakni penjualan

  def __init__(self, name, harga):
    self.name = name
    self.harga = harga
  
  def tampilkan(self):
    print("Nama Barang :", self.name, "\nHarga : ", self.harga)
  def hitung(self):
    if self.harga > 100000:
      pajak = self.harga * 0.1
      potongan = self.harga * 0.05
      total = self.harga + pajak - potongan
      print("Pajak 10% = ", pajak)
      print("Diskon 5% = ", potongan)
      print("Total Harga barang = ", total)
    elif self.harga < 100000:
      pajak = self.harga * 0.1
      total = self.harga + pajak
      print("Pajak 10% = ", pajak)
      print("Total Harga barang = ", total)

#Barang dibawah 100000
biaya = jual("totbag", 50000)
biaya.tampilkan()
biaya.hitung()

print("\n") #memanggil dan menampilkan

#Barang diatas 100000
biaya1 = jual("ransel", 120000)
biaya1.tampilkan()
biaya1.hitung()

Nama Barang : totbag
Harga :  50000
Pajak 10% =  5000.0
Total Harga barang =  55000.0


Nama Barang : ransel
Harga :  120000
Pajak 10% =  12000.0
Diskon 5% =  6000.0
Total Harga barang =  126000.0

KESIMPULAN 

  OOP adalah suatu metode dalam pemrograman yang berorientasi pada suatu objek, yang memiliki ciri atau attribut dan juga aksi  / kelakukuan (behavior).
  CLASS yang terdapat dalam phyton dapat dibilang sebuah prototipe dari suatu objek / instance yang ingin dibuat.
  VARIABEL kelas merupakan cetakan atau definisinya, sedangkan OBJEK atau instance merupakan objek nyata.